<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AccountID" value="XXXXXX" />
		<add key="ConsumerKey" value="XXXX" />
		<add key="ConsumerSecret" value="XXX" />
		<add key="TokenId" value="XXX" />
		<add key="TokenSecret" value="XXXX" />
		<add key="Algorithm" value="HMAC-SHA1" />
		<add key="URL" value="https://XXXXX.suitetalk.api.netsuite.com/services/NetSuitePort_2020_2"/>
	</appSettings>
</configuration>