<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AccountID" value="TSTDRV2066000" />
		<add key="ConsumerKey" value="3ac0f0b3a2f3c4d9c279042c82f2e05534f6992f46ffb639423cd223f1a404f5" />
		<add key="ConsumerSecret" value="6f8bdc8b5f1397fd8a20bd8ec71adf1966d6a99166f798606a04d29124d61976" />
		<add key="TokenId" value="f7e99036b4735a371abe0d4ba81d7d278490e7d513af3dbb9b588235638fd313" />
		<add key="TokenSecret" value="21900dadb4c6e41a8e6d070fd2429f605033cddc2f35f72a2d6ffc8936a23530" />
		<add key="Algorithm" value="HMAC-SHA1" />
		<add key="URL" value="https://tstdrv2066000.suitetalk.api.netsuite.com/services/NetSuitePort_2020_2"/>
	</appSettings>
</configuration>